{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"overrides": [
		{
			"files": "control-panel/**/*.svelte",
			"options": {
				"parser": "svelte",
				"plugins": ["prettier-plugin-svelte"]
			}
		}
	]
}
